@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-family: Roboto,sans-serif;
    margin: 50px 0;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

.container {
    width: 800px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 5rem;
    color: indianred;
}

ul {
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

ul {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: white;
}

input {
    border: 1px solid grey;
    width: 100%;
    padding: 15px 40px;
    color: #4e4e4e;
}

ul li {
    border: 1px solid grey;
    border-top: 0;
    list-style: none;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #4e4e4e;
}

input:focus {
    outline: none;
}

i {
    border: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor: pointer;
    color: indianred;
}   

li:hover i {
    opacity: 1;
}

.task-count {
    color: grey;
    font-size: 1rem;
}